<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link 
      rel="preconnect" 
      href="https://fonts.googleapis.com">
    <link 
      rel="preconnect" 
      href="https://fonts.gstatic.com" 
      crossorigin>
    <link 
      href="https://fonts.googleapis.com/css2?family=Changa+One&display=swap" 
      rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="box">
      <nav class="navbar">
        <a class="navbar-brand" href="/">In A GIFFY</a>

        <form class="searchbar-form" action="/search" method="POST">
          <input
            class="searchbar"
            type="text"
            name="giphy-query"
            placeholder="Search for a GIF here!"
          />
          <input class="search-button" type="submit" value="Search" />
        </form>

        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
            <form class="searchbar-form">
              <input class="searchbar" type="text" placeholder="Username" name="username">
              <input class="searchbar" type="text" placeholder="Password" name="psw">
              <a href="/login"></a><button class="search-button" type="submit">Login</button></a>
            </form>
        {{/if}}

      </nav>
      
      <main class="container-fluid text-center">
        {{{body}}}
      </main>

    </div>
  </body>
</html>
