<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In A GIFFY</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Poppins&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div class="box">
        <h1>In A GIFFY</h1>
      <div class="search-container">
        <input type="text" id="search-box" placeholder="Search for a GIF here!" />
        <button id="submit-btn">Submit</button>
      </div>
      <div class="loader"></div>
      <div class="wrapper"></div>
    </div>
</body>

</html>
