{{#if searchResultUrl}}
{{#each searchResultUrl as |gif|}}
  <div class="grid-container">
    <div id="search-result">
      <img src="{{gif.images.original.url}}" />
    </div>
  </div>
{{/each}}
{{/if}}
