*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #040b1a;
}

h1 {
<<<<<<< HEAD
    color: #10ab82;
    font-family: 'Changa One', cursive;
    font-size: 3em;
    text-align: center;
    padding-top: 1em;
=======
  color: #10B387;
  font-family: 'Changa One', cursive;
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
>>>>>>> b70aedc33c6171f9049619e416af5945b064094e
}

main {
  padding: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#search-result {
  background-color: #62ecbc;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em;
  border-radius: 0.5em;
}
